/* STYLE FOR YOU MAIN.HTML */
@font-face{
    src: url("./fonts/Fluted-Germanica.ttf");
    font-family: Germanica;
}

body {
margin: 0;
background-image: url(./images/crunched-leaves.jpg);
background-size: cover;
background-attachment: fixed;
font-family: 'Times New Roman', Times, serif;
}

h1{
text-align: center;
font-family: Germanica;
color: #bd9c6d;
}

.flex-container-about{
display: flex;
height: 95vh;
margin-left: auto;
/* background-color: rgb(248, 139, 175); */
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.portrait{
display: flex;
background-image: url(./images/DirtBG.jpg);
padding: 100px;
}

.text-box{
display: flex;
flex-wrap: wrap;
padding: 30px;
text-align: justify;
font-size: 3vh;
font-weight: bold;
color: #cebba0;
background-color: rgba(175, 154, 124, 0.1);
}

button{
display: flex;
width: 50px;
height: 50px;
margin: 20px;
flex: 0 0 100%;
justify-content: center;
}