/* STYLE FOR YOUR INDEX.HTML */
body {
margin: 0;
background-image: url(/images/leaves-in-dirt.jpg);
background-size: cover;
background-attachment: fixed;
font-family: 'Times New Roman', Times, serif;
}

.flex-container1{
display: flex;
height: 40vh;
/* background-color: rgb(248, 139, 175); */
flex-direction: row;
justify-content: center;
align-items: flex-end;
flex-wrap: wrap;
}

.flex-container2{
display: flex;
height: 40vh;
flex-direction: row;
justify-content: space-around;
align-items: center;
/* background-color: rgb(213, 252, 175); */
}

.flex-container3{
display: flex;
height: 10vh;
/* background-color: rgb(248, 139, 175); */
flex-direction: row;
justify-content: center;
align-items: flex-start;
}

h1{
display: flex;
margin: 20px 700px 20px;
color: aliceblue;
}

h2{
display: flex;
margin: 20px 700px 20px;
color: aliceblue;
}


.button-about{
display: flex;

margin: 10px;
padding: 20px;
width: 35%;
height: 10%;

background-image: url(/images/dead-sunflower.png);
background-size: cover;
background-position: center;

border: 8px ridge #666851;
border-radius: 10px;
}


.button-about{
justify-content: center;
}


.button-1{
display: flex;
justify-content: center;

margin: 10px;
padding: 20px;
width: 20%;
height: 20%;

background-image: url(/images/plant-thing.jpg);
background-size: cover;
background-position: center;
border: 8px ridge rgba(104,84,75,255);
border-radius: 10px;
}


.button-2{
display: flex;
justify-content: center;
margin: 10px;
padding: 20px;
width: 20%;
height: 20%;

background-image: url(/images/dying-flowers.jpg);
background-size: cover;
background-position: center;

border: 8px ridge rgba(104,84,75,255);
border-radius: 10px;
}


.button-3{
display: flex;
justify-content: center;
margin: 10px;
padding: 20px;
width: 20%;
height: 20%;

background-image: url(/images/leaf-sculpture.jpg);
background-size: cover;
background-position: center;

border: 8px ridge rgba(104,84,75,255);
border-radius: 10px;
}


.button-quote{
display: flex;
justify-content: center;
margin: 10px;
padding: 20px;

background-color: rgb(146, 146, 146);
}