/* STYLE FOR YOUR INDEX.HTML */
@font-face{
    src: url("./fonts/Fluted-Germanica.ttf");
    font-family: Germanica;
}

@font-face{
    src: url("./fonts/EBGaramond-Regular.ttf");
    font-family: EBGaramond;
}

body {
margin: 0;
background-image: url(./images/leaves-in-dirt.jpg);
background-size: cover;
background-attachment: fixed;
font-family: EBGaramond;
}

.flex-container1{
display: flex;
height: 55vh;
/* background-color: rgb(248, 139, 175); */
flex-direction: row;
justify-content: center;
align-items: flex-end;
flex-wrap: wrap;
}

.flex-container2{
display: flex;
height: 40vh;
flex-direction: row;
justify-content: space-around;
align-items: center;
/* background-color: rgb(213, 252, 175); */
}

.flex-container3{
display: flex;
height: 10vh;
/* background-color: rgb(248, 139, 175); */
flex-direction: row;
justify-content: center;
align-items: flex-start;
}

h1{
display: flex;
margin: 20px 400px 20px;
font-family: Germanica;
font-size: 5vw;
color: #bd9d6b;
text-align: center;
}

h2{
display: flex;
margin: 20px 400px 20px;
font-family: EBGaramond;
color: #b09778;
text-align: center;
}


.button-about{
display: flex;

margin: 10px;
padding: 20px;
width: 35%;
height: 10%;

background-image: url(./images/dead-sunflower.png);
background-size: cover;
background-position: center;

border: 8px ridge #4d4e3c;
border-radius: 10px;
}


.button-about{
justify-content: center;
}


.button-1{
display: flex;
justify-content: center;

margin: 10px;
padding: 20px;
width: 20%;
height: 20%;

background-image: url(./images/plant-thing.jpg);
background-size: cover;
background-position: center;
border: 8px ridge rgba(104,84,75,255);
border-radius: 10px;
animation: pictures-breathe 5s infinite;
}


.button-2{
display: flex;
justify-content: center;
margin: 10px;
padding: 20px;
width: 20%;
height: 20%;

background-image: url(./images/dying-flowers.jpg);
background-size: cover;
background-position: center;

border: 8px ridge rgba(104,84,75,255);
border-radius: 10px;
animation: pictures-breathe 5s infinite;
}


.button-3{
display: flex;
justify-content: center;
margin: 10px;
padding: 20px;
width: 20%;
height: 20%;

background-image: url(./images/leaf-sculpture.jpg);
background-size: cover;
background-position: center;

border: 8px ridge rgba(104,84,75,255);
border-radius: 10px;
animation: pictures-breathe 5s infinite;
}


.button-quote{
display: flex;
justify-content: center;
margin: 10px;
padding: 10px;

background-color: #998670;
border: 4px ridge #977d53;
animation: pictures-breathe 5s infinite;
}

p{
font-family: EBGaramond;
font-weight: bolder;
color: #6d5939;
}

a{
text-decoration: none;
}

button{
width: 8vw;
height: 5vh;
padding: 5px;
text-align: center;
font-size: 15px;
color: #4d3416;
font-weight: bold;
border: 3px solid #554334;
background-color: #847563;
font-family: EBGaramond;
}

button:hover{
    background-color: rgb(150, 126, 91);
    color: rgb(77, 45, 4);
    border: 4px groove rgb(151, 81, 16);
    font-family: Germanica;
    animation: button-shake 4s infinite;
}

button:active{
    transform: rotate(10deg);
    font-size: 20px;
}

@keyframes pictures-breathe{
    0%{
        width: 17vw;
    }
    50%{
        width: 16vw;
    }
    100%{
        width: 17vw;
    }
}

@keyframes button-shake{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}